* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.topbackground {
    background-color: #255ee9;
}

header {
    line-height: 78px;
}

header img,
header ul li {
    display: inline-block;
    vertical-align: middle;
}

.col1 {
    width: 30%;
}

.col2 {
    width: 70%;
}

nav li {
    margin-right: 50px;
}

.login {
    margin-left: 275px;
}

.herobanner {
    background-image: url(../img/jumbo.png);
    background-position: center;
    background-size: cover;
    height: 694px;
}

/* UTILITIES */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.whitetext {
    color: white;
}

.float {
    float: left;
}

.wd80 {
    width: 70%;
    margin: 0 auto;

}

.centertext {
    text-align: center;
}

/* MAIN CONTENT */
.herosection {
    width: 50%;
    width: 50%;
    padding-top: 125px;
    font-size: 31px;
}

h1 {
    margin-bottom: 50px;
}