* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    width: 100%;
    margin: 0 auto;
    background-color: #3161e0;
    height: 150px;
}

header img,
header ul li {
    display: inline-block;
}

.col1 {
    width: 20%;
}

.col2 {
    width: 80%;
}

/* UTILITIES */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.float {
    float: left;
}

.wd80 {
    width: 70%;
    margin: 0 auto;

}