* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    display: inline-block;
    color: white;
}

.topbackground {
    background-color: #255ee9;
}

header {
    line-height: 78px;
}

header img,
header ul li {
    display: inline-block;
    vertical-align: middle;
}

.col1 {
    width: 30%;
}

.col2 {
    width: 70%;
}

nav li {
    margin-right: 50px;
}

.login {
    margin-left: 275px;
}

.herobanner {
    background-image: url(../img/jumbo.png);
    background-position: top;
    background-size: cover;
    height: 600px;
}

/* UTILITIES */
.container {
    width: 70%;
    margin: 200px auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.whitetext {
    color: white;
}

.float {
    float: left;
}

.floatright {
    float: right;
}

.wd80 {
    width: 70%;
    margin: 0 auto;

}

.sectionmargin {
    margin: 100px auto;
    margin-bottom: 0;
}

.mtop25 {
    margin-top: 25px;
}

.centertext {
    text-align: center;
}

.btn {
    height: 55px;
    width: 276px;
    background-color: white;
    border-radius: 125px;
    color: black;
    line-height: 52px;
}
/* MAIN CONTENT */
.herosection {
    width: 50%;
    width: 50%;
    padding-top: 125px;
    font-size: 31px;
}

h1 {
    margin-bottom: 50px;
}

.sectionmargin h2 {
    padding-top: 38px;
}

.greysection {
    background-color: lightgray;
    padding: 1px;
}

.big {
    text-align: center;
}

.star {
    margin: 0 auto;
    width: 35%;
    background-image: url(../img/stars.svg);
    background-position: initial;
    background-size: contain;
}

.footer {
    background-color: #23272a;
    height: 500px;
}